.checkbox {
  display: flex;
}
.checkbox__wrapper {
  position: relative;
}
.checkbox__field {
  opacity: 0;
}
.checkbox__field:checked + .checkbox__custom {
  background-color: #3d5cff;
}
.checkbox__custom {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 10px;
  height: 10px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #3d5cff;
  border-radius: 2px;
  transition: 0.15s ease;
}
.checkbox__heading {
  cursor: pointer;
  margin-left: 5px;
  color: #000;
  font-size: 16px;
}


.button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: 0.15s ease;
  text-decoration: none;
}
.button_theme_primary {
  color: #fff;
  background-color: #3d5cff;
}
.button_theme_primary:hover {
  background-color: #3651e0;
}
.button_display_block {
  display: block;
}


.container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}
.container__row {
  display: flex;
}
.container__column {
  width: 100%;
  padding: 0 15px;
}
.container__column:first-child {
  padding-left: 0;
}
.container__column:last-child {
  padding-right: 0;
}
@media (max-width: 1200px) {
  .o-container {
    max-width: 992px;
  }
}
@media (max-width: 992px) {
  .o-container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .o-container {
    max-width: 576px;
  }
}
@media (max-width: 576px) {
  .o-container {
    max-width: 100%;
  }
}



.link {
  color: #000;
  text-decoration: none;
}
.link_theme_primary {
  color: #3d5cff;
}
.link_style_underline {
  text-decoration: underline;
}

.page_theme_islands {
  font: 13px -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  line-height: 1.5;
  min-height: 100%;
  margin: 0;
  color: #000;
  background: #fff;
}
